Gateway First Tier/scigw.txt
Gateway First Tier/target/
Gateway First Tier/.settings/
Gateway First Tier/mpi.sh
Gateway First Tier/scigw.log
Gateway First Tier/scigw.log
*.log
*.component
Gateway Web Service/.settings/org.eclipse.jdt.core.prefs
*.prefs
Gateway Web Service/.springBeans
*.project
Gateway Web Service/.classpath
Gateway Web Service/.settings/org.eclipse.wst.common.project.facet.core.xml